<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <h1>test test 123</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./contact.html">contact</a></li>
                 <li><a href="./services.html">Services</a> </li>

      </ul>
    </nav>
    <h1>home page</h1>
    <img src="./trottinette-electrique-xiaomi-mi-1s.jpg" alt="">
    <h2>prix : 1500dt</h2>
  </body>
</html>
